@keyframes twelvePulse {
  from { background-color: hsl(120, 80%, 46%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(120, 100%, 46%); box-shadow: 0 0 18px hsl(120, 100%, 46%), inset 0 0 8px #333; }
  to { background-color: hsl(120, 80%, 46%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes fivePulse {
  from { background-color: hsl(125, 80%, 49%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(125, 100%, 49%); box-shadow: 0 0 18px hsl(125, 100%, 49%), inset 0 0 8px #333; }
  to { background-color: hsl(125, 80%, 49%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes tenPulse {
  from { background-color: hsl(130, 80%, 52%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(130, 100%, 52%); box-shadow: 0 0 18px hsl(130, 100%, 52%), inset 0 0 8px #333; }
  to { background-color: hsl(130, 80%, 52%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes threePulse {
  from { background-color: hsl(135, 80%, 55%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(135, 100%, 55%); box-shadow: 0 0 18px hsl(135, 100%, 55%), inset 0 0 8px #333; }
  to { background-color: hsl(135, 80%, 55%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes eightPulse {
  from { background-color: hsl(140, 80%, 58%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(140, 100%, 58%); box-shadow: 0 0 18px hsl(140, 100%, 58%), inset 0 0 8px #333; }
  to { background-color: hsl(140, 80%, 58%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes onePulse {
  from { background-color: hsl(145, 80%, 61%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(145, 100%, 61%); box-shadow: 0 0 18px hsl(145, 100%, 61%), inset 0 0 8px #333; }
  to { background-color: hsl(145, 80%, 61%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes sixPulse {
  from { background-color: hsl(150, 80%, 64%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(150, 100%, 64%); box-shadow: 0 0 18px hsl(150, 100%, 64%), inset 0 0 8px #333;}
  to { background-color: hsl(150, 80%, 64%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes elevenPulse {
  from { background-color: hsl(155, 80%, 67%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(155, 100%, 67%); box-shadow: 0 0 18px hsl(155, 100%, 67%), inset 0 0 8px #333; }
  to { background-color: hsl(155, 80%, 67%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes fourPulse {
  from { background-color: hsl(160, 80%, 70%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(160, 100%, 70%); box-shadow: 0 0 15px hsl(160, 100%, 70%), inset 0 0 8px #333; }
  to { background-color: hsl(160, 80%, 70%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes ninePulse {
  from { background-color: hsl(165, 80%, 73%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(165, 100%, 73%); box-shadow: 0 0 18px hsl(165, 100%, 73%), inset 0 0 8px #333; }
  to { background-color: hsl(165, 80%, 73%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes twoPulse {
  from { background-color: hsl(170, 80%, 76%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(170, 100%, 76%); box-shadow: 0 0 18px hsl(170, 100%, 76%), inset 0 0 8px #333; }
  to { background-color: hsl(170, 80%, 76%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes sevenPulse {
  from { background-color: hsl(175, 80%, 79%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
  50% { background-color: hsl(175, 100%, 79%); box-shadow: 0 0 18px hsl(175, 100%, 79%), inset 0 0 8px #333; }
  to { background-color: hsl(175, 80%, 79%); box-shadow: 0 0 9px #666, inset 0 0 8px #333; }
}

@keyframes greenPiano {
  from { background-color: #00cc00; box-shadow: 0 0 9px #666, inset 0 0 8px #666; }
  50% { background-color: #00e600; box-shadow: 0 0 18px #00e600, inset 0 0 8px #666; }
  to { background-color: #00cc00; box-shadow: 0 0 9px #666, inset 0 0 8px #666; }
}

@keyframes purpleHover {
  from { background-color: #cc24cc; box-shadow: 0 0 9px #666 }
  50% { background-color: ##fd00fd; box-shadow: 0 0 18px #fd00fd }
  to { background-color: #cc24cc; box-shadow: 0 0 9px #666 }
}

@keyframes darkGreenPiano {
  from { background-color: #009933; box-shadow: 0 0 9px #666, inset 0 0 8px #666; }
  50% { background-color: #00ff55; box-shadow: 0 0 18px #33cc33, inset 0 0 8px #666; }
  to { background-color: #009933; box-shadow: 0 0 9px #666, inset 0 0 8px #666; }
}

@keyframes pianoShading {
  from { box-shadow: 0 0 9px #666, inset 0 0 8px #666; }
  50% { box-shadow: 0 0 18px #00e600, inset 0 0 8px #666; }
  to { box-shadow: 0 0 9px #666, inset 0 0 8px #666; }
}

@keyframes darkPianoShading {
  from { box-shadow: 0 0 9px #666, inset 0 0 8px #666; }
  50% { box-shadow: 0 0 18px #33cc33, inset 0 0 8px #666; }
  to { box-shadow: 0 0 9px #666, inset 0 0 8px #666; }
}

.in-key.C, .piano-key.C:hover, .note.C:hover {
  -webkit-animation-name: onePulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.D♭, .piano-key.D♭:hover, .note.D♭:hover   {
  -webkit-animation-name: twoPulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.D, .piano-key.D:hover, .note.D:hover {
  -webkit-animation-name: threePulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.E♭, .piano-key.E♭:hover, .note.E♭:hover   {
  -webkit-animation-name: fourPulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.E, .piano-key.E:hover, .note.E:hover {
  -webkit-animation-name: fivePulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.F, .piano-key.F:hover, .note.F:hover {
  -webkit-animation-name: sixPulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.G♭, .piano-key.G♭:hover, .note.G♭:hover   {
  -webkit-animation-name: sevenPulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.G, .piano-key.G:hover, .note.G:hover {
  -webkit-animation-name: eightPulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.A♭, .piano-key.A♭:hover, .note.A♭:hover   {
  -webkit-animation-name: ninePulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.A, .piano-key.A:hover, .note.A:hover {
  -webkit-animation-name: tenPulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.B♭, .piano-key.B♭:hover, .note.B♭:hover   {
  -webkit-animation-name: elevenPulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}

.in-key.B, .piano-key.B:hover, .note.B:hover {
  -webkit-animation-name: twelvePulse;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}
