.clock {
  margin: 0 auto;
  margin-top: 80px;
  width: 250px;
  position: relative;
}

.note {
  background: #e2e2e2;
  position: absolute;
  width: 35px;
  height: 35px;
  border: 3px solid #0c0c0c;
  border-radius: 35px;
  font-family: 'Montserrat', sans-serif;
  color: #555;
  box-shadow: 0 0 10px 5px rgba(3,3,3,100);
}
