.clock {
  display: inline-block;
  margin: auto;
  margin-top: 80px;
  width: 250px;
  height: 250px;
  position: relative;
}

.note {
  background-color: white;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 30px;
}

/*.in-key {
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
}*/
