.clock {
  margin: 0 auto;
  margin-top: 70px;
  width: 250px;
  position: relative;
}

.note {
  background: #e1e1e1;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #0c0c0c;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #555;
  box-shadow: 0 0 9px #333, inset 0 0 8px #666;
}

.note:hover {
  -webkit-animation-name: purpleHover;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}
