.guitar-container {
  padding: 10px;
  position: relative;
  top: 40px;
  width: 1000px;
  background-image: url("../images/amp-mesh-guitar2.png");
  margin: auto;
  border-radius: 40px;
  border: 5px solid #0c0c0c;
  box-shadow: 0 0 50px 25px rgba(3,3,3,100), inset 0 0 22px 8px rgba(3,3,3,100);
}


.guitar {
  width: 1000px;
  height: auto;
  display: inline-block;
  background-image: url("../images/guitar-neck-2.png");
  background-size: 1000px;
}

.fretboard {
  text-align: left;
  position: relative;
  width: 600px;
  left: 400px;
  padding-top: 65px;
  padding-bottom: 48px;
}

.string {
  height: 15px;
  width: 660px;
}

.fret {
  position: relative;
  top: 5px;
  width: 13px;
  height: 13px;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 13px;
}
