.piano-clock-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0 auto;
}

.piano-keys {
  margin: 0 auto;
  margin-top: 110px;
  border: 5px solid #0c0c0c;
  box-shadow: 0 0 50px 25px rgba(3,3,3,100), inset 0 0 22px 8px rgba(3,3,3,100);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.piano-key {
  float: left;
  position: relative;
}

/*.piano-key:hover {
  -webkit-animation-name: purpleHover;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
}*/

.piano-key.D, .piano-key.E, .piano-key.G, .piano-key.A, .piano-key.B {
  margin-left: -15px;
}

.white {
  background: #e1e1e1;
  width: 60px;
  height: 200px;
  z-index: 0;
  box-shadow: inset 0 0 8px #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.white:first-child {
  border-top-left-radius: 40px;
}

.white:last-child {
  border-top-right-radius: 40px;
}

.white p {
  position: relative;
  top: 75px;
  color: #999;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}

.black {
  background: #000;
  display: inline-block;
  width: 30px;
  height: 120px;
  z-index: 1;
  margin-left: -15px;
  box-shadow: inset 0 -3px 5px 4px #666;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.black p {
  position: relative;
  top: 35px;
  color: #999;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
