button {
  outline: none;
}

.piano-keys {
  width: 880px;
  margin-top: 350px;
}

.piano-key {
  float: left;
  position: relative;
}

.white {
  background: #fff;
  display: inline-block;
  width: 60px;
  height: 300px;
  border: 2px solid #aaa;
  z-index: 0;
}

.D, .E, .G, .A, .B {
  margin-left: -15px;
}

.black {
  background: #000;
  display: inline-block;
  width: 30px;
  height: 180px;
  z-index: 2;
  margin-left: -15px;
}

.white.in-key {
  background-color: #8bf;
  border: 2px solid #a00;
}

.black.in-key {
  background-color: #b8f;
  border: 3px solid #00a;
}
