@font-face {
  font-family: GreatVibes;
  src: url("../fonts/GreatVibes-Regular.ttf");
}

#root {
  text-align: center;
  background-image: url("../images/black-leather.jpg");
  background-repeat: repeat;
  width: 100%;
  background-size: 160vh;
  height: 100vh;
  font-family: 'GreatVibes';
}

#modal {
  position: absolute;
  z-index: 2;
  width: 40vw;
  max-height: 60vh;
  margin-left: 30vw;
  margin-top: 20vh;
  color: #eee;
  background: rgba(40,40,40,0.8);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

#modal-title {
  margin: 2em;
  width: 100%;
  flex: 1;
  display: flex;
}

#modal-title h2 {
  flex: 9;
  font-size: 40px;
}

#modal-title button {
  flex: 1;
  position: relative;
  top: -14px;
  font-size: 30px;
}

#modal-body {
  margin: 0 2em;
  margin-bottom: 2em;
  flex: 6;
  font-family: 'Harmattan', sans-serif;
  text-align: left;
}

#modal-body ul {
  list-style: circle;
  margin: 1em;
}

.container {
  display: flex;
  flex-direction: column;
}

.fa {
  margin: 0 0.5em;
}

.title {
  color: #aaa;

  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  width: 1000px;
}

#title-author {
  margin-top: 3vh;
}

.title h1 {
  display: inline;
  padding-right: 0.5em;
  font-size: 60px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title i {
  font-size: 30px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title p {
  display: inline;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#links {
  display: flex;
  justify-content: flex-end;
}

#volume-icon {
  width: 20px;
}

#instructions {
  margin-right: 1em;
  transition: all .15s ease-in-out;
}

.pattern-shifter-container {
  z-index: 2;
  width: 1000px;
  height: 0px;
  font-family: 'GreatVibes';
  margin: 0 auto;
}

.pattern-shifter {
  position: relative;
  width: 220px;
  margin-left: auto;
  top: 65px;
  display: flex;
  font-size: 34px;
  justify-content: center;
}

#mode-selector {
  flex: 2;
  margin: auto 0;
  padding-right: 5px;
  font-weight: bold;
  text-shadow: 1em;
  background: #e3dcd1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .15s ease-in-out;
}

.pattern-arrow {
  flex: 1;
  font-size: 24px;
  background: #e3dcd1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .15s ease-in-out;
}

#mode-selector:hover,
#instructions:hover,
.pattern-arrow:hover {
  transform: scale(1.05);
}

.pattern-arrow:active {
  background: #aaa;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-off {
  display: none;
}

.arrow-off:hover {
  cursor: default;
}
